@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 4px;
    background: #fe5a59;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #fe5a59;
    height: 20px;
    width: 10px;
}

@media screen and (max-width: 768px) {
    input[type="range"] {
        width: 200px;
    } 
}